accelerate==1.10.1+computecanada
aiohappyeyeballs==2.4.4+computecanada
aiohttp==3.10.9+computecanada
aiosignal==1.3.2+computecanada
alembic==1.14.1
asttokens==2.4.1+computecanada
async_timeout==4.0.3+computecanada
attrs==25.1.0+computecanada
certifi==2025.1.31+computecanada
charset_normalizer==3.4.1+computecanada
coloredlogs==15.0.1+computecanada
colorlog==6.9.0+computecanada
comm==0.2.2+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
datasets==3.1.0+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
dill==0.3.8+computecanada
distlib @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/distlib/distlib-0.3.7
editables @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/editables/editables-0.5
evaluate==0.4.3+computecanada
exceptiongroup==1.2.1+computecanada
executing==2.0.1+computecanada
filelock @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/filelock/filelock-3.12.2
flatbuffers==25.9.23
flit_core @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/flit_core/flit_core-3.9.0
fonttools==4.53.0+computecanada
frozenlist==1.5.0+computecanada
fsspec==2024.9.0+computecanada
git-filter-repo==2.47.0
greenlet==3.1.1+computecanada
hatch-vcs @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/hatch_vcs/hatch_vcs-0.3.0
hatchling @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/hatchling/hatchling-1.18.0
hf_xet==1.1.10+computecanada
huggingface_hub==0.35.3+computecanada
humanfriendly==10.0+computecanada
idna==3.10+computecanada
ipykernel==6.29.4+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.2+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
kiwisolver==1.4.5+computecanada
loguru==0.7.3+computecanada
Mako==1.3.9
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.0+computecanada
matplotlib_inline==0.1.7+computecanada
more_itertools==10.8.0+computecanada
mpmath==1.3.0+computecanada
multidict==6.1.0+computecanada
multiprocess==0.70.16+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.4.2+computecanada
nose==1.3.7+computecanada
numpy==1.26.4+computecanada
onnx==1.16.0+computecanada
onnxruntime==1.17.3+computecanada
optuna==4.5.0+computecanada
packaging @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/packaging/packaging-23.1
pandas==2.2.3+computecanada
parso==0.8.4+computecanada
pathspec @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/pathspec/pathspec-0.11.2
pexpect==4.9.0+computecanada
pillow==10.3.0+computecanada
platformdirs @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/platformdirs/platformdirs-3.10.0
pluggy @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/pluggy/pluggy-1.3.0
prompt_toolkit==3.0.47+computecanada
propcache==0.2.1+computecanada
protobuf==6.33.0
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/17.0.0/GCCcore-12.3-gentoo/arrow/python
pygments==2.18.0+computecanada
pyparsing @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/pyparsing/pyparsing-3.1.1
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.0.3+computecanada
regex==2025.9.18
requests==2.32.3+computecanada
safetensors==0.5.3+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.13.1+computecanada
sentence_transformers==5.1.1+computecanada
setfit==1.1.3
setuptools-scm @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/setuptools_scm/setuptools_scm-7.1.0
six @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/six/six-1.16.0
skl2onnx==1.19.1
-e git+ssh://git@github.com/ahenrij/slid.git@e7bff0059ccaf843ac134f6fd44ad60d4c79d914#egg=slid
SQLAlchemy==2.0.38
stack_data==0.6.3+computecanada
sympy==1.13.1+computecanada
threadpoolctl==3.6.0+computecanada
tokenizers==0.22.1+computecanada
tomli @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/tomli/tomli-2.0.1
torch==2.6.0+computecanada
tornado==6.3.3+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.1
trove-classifiers @ file:///cvmfs/soft.computecanada.ca/easybuild/sources/p/Python/extensions/trove_classifiers-2023.8.7-py3-none-any.whl#sha256=a676626a31286130d56de2ea1232484df97c567eb429d56cfcb0637e681ecf09
typing_extensions==4.15.0+computecanada
tzdata==2024.1+computecanada
urllib3==2.3.0+computecanada
virtualenv @ file:///tmp/ebuser/avx512/Python/3.10.13/GCCcore-12.3.0/virtualenv/virtualenv-20.24.3
wcwidth==0.2.13+computecanada
xxhash==3.5.0+computecanada
yarl==1.18.3+computecanada
